.circle_button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(47,49,54);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.circle_button_icon{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}