@font-face {
    font-family: "Discord";
    src: url("../../../../../public/fonts/980082c4328266be3342a03dcb37c432.woff2") format("woff2");
   }

* {
 padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

.search_by_name{
    width: 754px;
    height: 30px;
    background-color: rgb(32,34,37);
    font-family: 'Noto Sans', sans-serif;
    color:#B9BBBE;
    border: none;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
}

.search_by_name:active{
    border: none;
    outline: none;
}