@font-face {
    font-family: "Discord";
    src: url("../../../../public/fonts/980082c4328266be3342a03dcb37c432.woff2") format("woff2");
   }

* {
 padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

.friends_tab{
    font-family: "Discord";
    color:#B9BBBE;
    border-radius: 10%;
    margin-right: 17px;
    padding: 3px;
    cursor: pointer;
}

.friends_tab_add{
    font-family: "Discord";
    color:#fdfeff;
    border-radius: 10%;
    margin-right: 17px;
    padding: 3px;
    background-color: rgb(45,125,70);
    cursor: pointer;
}

.friends_tab:hover{
    background-color: rgb(69,73,80);
    color: rgb(221, 223, 230);
}