.friends_tab{
    color: rgb(174, 176, 184);
    border-radius: 10%;
    margin-right: 17px;
    padding: 3px;
}

.friends_tab:hover{
    background-color: rgb(69,73,80);
    cursor: pointer;
    color: rgb(221, 223, 230);
}