.friend_requests{
    color: aliceblue;
}

.friend_requests_title{
    margin: 20px 24px 12px 30px;
    font-family: 'Noto Sans', sans-serif;
    color:#B9BBBE;
    font-size: 11px;
    display: flex;
    justify-content: left;
}